name: Run tests

on:
  push:
  pull_request:
    branches:
      - main
      - dev
      - windio-merge
  schedule:
    - cron: '0 4 * * 0' # run at 4 AM UTC every Sunday

jobs:

  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"  # Use latest version for pre-commit
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1

  tests:
    name: Running tests

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        apt-get update && apt-get install -y git-lfs
        git lfs install
        pip install --upgrade pip
        pip install -e .[test]
    - name: Test with pytest
      run: |
        py.test --durations=0 tests/
